@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  /* MEDIA-QUERIES */
  --mobile-breakpoint: 375px;
  --desktop-breakpoin: 1440px;

  /* COLORS */
  /* primary */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  /* neutral */
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);

  /* TYPOGRAPHY */
  /* font size */
  --quote-fs: 1.75rem;

  /* font family */
  --fw-mandrope: 800;
}

/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: var(--dark-grayish-blue);
    font-family: 'Manrope', sans-serif;
    font-weight: var(--fw-mandrope);
}

/* ADVICE  */
.advice {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ADVICE--CONTAINER */
.advice .advice--container {
    background-color: var(--grayish-blue);
    height: 20rem;
    width: 40%;
    border-radius: 0.75rem;
    
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ADVICE--ID */
.advice .advice--container .advice--id h1 {
    color: var(--neon-green);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/* ADVICE--QUOTE */
.advice .advice--container .advice--quote {
    margin-inline: 2rem;
}

.advice .advice--container .advice--quote blockquote p {
    color: var(--light-cyan);
    font-size: 1.75rem;
    text-align: center;
}

/* ADVICE--PATTERN-DIVIDER */
.advice .advice--container .advice--pattern-divider {
}

.advice .advice--container .advice--pattern-divider img {
    color: var(--light-cyan);
}

/* ADVICE--DICE */
